<div class="header">
    <span class="material-symbols-outlined">deployed_code</span>
    <h1>AMAZON TRACKER</h1>
</div>

<nav>
    <ul>
        <app-navlink [page]="Pages.DASHBOARD"></app-navlink>

        <hr>

        <app-navlink [page]="Pages.SCAN"></app-navlink>
        <app-navlink [page]="Pages.TRACKERS"></app-navlink>

        <div class="footer">
            <hr>

            <ng-container *ngIf="authService.user$ | async">
                <app-navlink [page]="profilePage"></app-navlink>
                <app-navlink class="logout" [page]="Pages.LOGOUT"></app-navlink>
            </ng-container>

            <ng-container *ngIf="!(authService.user$ | async)">
                <li><a routerLink="login">&nbsp;<span class="material-symbols-outlined">account_circle</span>Connexion</a></li>
            </ng-container>
        </div>
    </ul>

</nav>
