@use 'colors';

.page-title {
    h2 {
        display: flex;
        align-items: center;
        color: white;
        margin-bottom: 0;
        font-family: 'Outfit', sans-serif;

        span {
            margin-right: .5rem;
            color: colors.$color-primary-a20;
        }
    }

    hr {
        border: none;
        border-top: solid 2px colors.$color-surface-a20;
    }
}
