@use 'palette';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: palette.$color-surface-a10;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;

  a {
    text-decoration: none;
    color: white;
  }

  .logo {
    margin-left: 20px;
    color: palette.$color-primary-a30;

    font-size: 2rem;
    font-weight: 900;

    transition: filter 0.2s, color 0.2s;

    &:hover {
      color: palette.$color-primary-a40;
      filter: brightness(1.3);
    }

    i {
      margin-right: 10px;
    }
  }

  .nav-links, .user-links {
    a {
      transition: color 0.2s;
      color: white;

      &:hover {
        color: palette.$color-primary-a30;
      }
    }
  }

  .nav-links {
    display: flex;
    gap: 20px;
  }

  .user-links {
    display: flex;
    gap: 10px;

    margin-right: 20px;

    i {
      margin-left: .5rem;
    }
  }
}
