/** Dark theme primary colors */
$color-primary-a0: #ffc400;
$color-primary-a10: #ffca39;
$color-primary-a20: #ffd157;
$color-primary-a30: #ffd771;
$color-primary-a40: #ffde8a;
$color-primary-a50: #ffe4a1;

/** Dark theme surface colors */
$color-surface-a0: #121212;
$color-surface-a10: #282828;
$color-surface-a20: #3f3f3f;
$color-surface-a30: #575757;
$color-surface-a40: #717171;
$color-surface-a50: #8b8b8b;
$color-surface-a60: #a6a6a6;

/** Dark theme mixed surface colors */
$color-surface-mixed-a0: #80641e;
$color-surface-mixed-a10: #8f7437;
$color-surface-mixed-a20: #9d844e;
$color-surface-mixed-a30: #ac9566;
$color-surface-mixed-a40: #baa67e;
$color-surface-mixed-a50: #c8b797;

/** Other colors */
$color-success-a0: #3d8b3d;
$color-error-a0: #ba3d3d;
