/** Dark theme primary colors */
$color-primary-a0: #ffc400;
$color-primary-a10: #ffca39;
$color-primary-a20: #ffd157;
$color-primary-a30: #ffd771;
$color-primary-a40: #ffde8a;
$color-primary-a50: #ffe4a1;

/** Dark theme surface colors */
$color-surface-a0: #121212;
$color-surface-a10: #282828;
$color-surface-a20: #3f3f3f;
$color-surface-a30: #575757;
$color-surface-a40: #717171;
$color-surface-a50: #8b8b8b;

/** Dark theme mixed surface colors */
$color-surface-mixed-a0: #272116;
$color-surface-mixed-a10: #3c362b;
$color-surface-mixed-a20: #514c42;
$color-surface-mixed-a30: #68635a;
$color-surface-mixed-a40: #7f7b73;
$color-surface-mixed-a50: #98948e;
