@use 'colors';

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem 1rem;
    gap: .5rem;

    transition: all .2s;

    background-color: colors.$color-surface-a0;
    border-radius: .5rem;

    user-select: none;

    &:not(.selected):hover {
        filter: brightness(1.2);
    }

    a {
        display: block;
        text-decoration: none;
        color: colors.$color-primary-a50;
    }

    label {
        display: flex;
        align-items: center;
        gap: .5rem;
    }
    
    .emphasis {
        margin-left: auto;
    }

    &.selected {
        background-color: colors.$color-primary-a20;
        color: colors.$color-surface-a10;

        &:hover {
            filter: brightness(.8);
        }

        a {
            color: colors.$color-surface-a20;
        }

        .emphasis {
            color: colors.$color-surface-a10;
        }
    }
}