@use 'colors';

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: .5rem;

    .price {
        margin-left: auto;
    }

    label {
        display: flex;
        align-items: center;
        gap: .5rem;

        a {
            display: block;
            text-decoration: none;
            color: colors.$color-primary-a50;
        }
    }
}