@use 'colors';

p {
    display: flex;
    align-items: center;
}

.input__container {
    display: flex;
    position: relative;

    &__spinner {
        position: absolute;
        right: .5rem;
        top: 50%;
        transform: translateY(-50%);

        .spinner {
            width: 20px;
            height: 20px;
        }
    }

    input {
        border: solid 1px colors.$color-surface-a30;
        border-radius: .5rem;
        padding: .5rem;
        outline: none;

        background-color: colors.$color-surface-a20;
        caret-color: colors.$color-primary-a50;

        font-size: 1.25rem;
        color: white;

        transition: all .2s;
        width: 100%;

        &::placeholder {
            font-family: "Outfit", sans-serif;
            font-weight: 400;
            color: colors.$color-surface-a40;
        }

        &:hover, &:focus {
            border-color: colors.$color-primary-a30;
        }
    }
}

.discovery {

    .price {
        color: colors.$color-primary-a20;
    }

}