<h3><span class="material-symbols-outlined">check_circle</span>Produit trouvé <span *ngIf="_discoveries.length! > 1">(avec {{_discoveries.length! - 1}} variantes)</span></h3>

<p class="info-text" *ngIf="_discoveries.length > 1">
    Sélectionnez les variantes que vous souhaitez suivre.
</p>


<div class="discoveries">
    <p *ngFor="let discovery of _discoveries; let i = index" (click)="checkDiscoveryToTrack(i)" [class.selected]="discoveriesSelected[i]">
        <label><a target="_blank" (click)="$event.stopImmediatePropagation()" [href]="discovery.url" class="material-symbols-outlined">link</a>{{ discovery.name }}</label>
        <label class="emphasis price"><b>{{ discovery?.price ?? '---.--' }} €</b></label>
    </p>
</div>

<p class="asterisk" *ngIf="isAnyDiscoveryUnPriced">
    Si le prix d'une variante d'un produit n'est pas affiché, c'est qu'il n'était pas directement accessible avec le lien fourni
</p>

<div class="actions">
    <button [disabled]="!isAnyDiscoverySelected" class="primary">TRACKER</button>
    <button (click)="trackerService.ignore()">IGNORER</button>
</div>