@use 'colors';

h3 {
    display: flex;
    gap: .5rem;
    margin-bottom: 0;

    span {
        color: colors.$color-success-a0;
    }
}

.discoveries {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
    gap: .5rem;

    p {
        display: flex;
        gap: .5rem;
        align-items: center;
        margin: 0;

        background-color: colors.$color-surface-a20;
        padding: .5rem;
        border-radius: .5rem;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);

        cursor: pointer;

        transition: all .2s;

        .price {
            margin-left: auto;
        }

        label {
            display: flex;
            align-items: center;
            gap: .5rem;
            cursor: pointer;

            a {
                display: block;
                text-decoration: none;
                color: colors.$color-primary-a50;
            }
        }

        &.selected {
            background-color: colors.$color-primary-a20;
            color: colors.$color-surface-a10;
            font-weight: 700;

            .price {
                color: colors.$color-surface-a10;
            }

            label {
                a {
                    display: block;
                    text-decoration: none;
                    color: colors.$color-surface-a20;
                }
            }
        }
    }
}

.actions {
    display: flex;
    gap: 1rem;
    margin-left: auto;
    margin-bottom: 1rem;
}
