@use 'colors';

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: colors.$color-surface-a0;
    color: #EEE;
}

input {
    font-family: 'Outfit', sans-serif;
    font-weight: lighter;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: colors.$color-surface-a10;
    border-radius: .5rem;
    padding: 0 1rem;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.emphasis {
    color: colors.$color-primary-a50;
}

.title {
    h2 {
        display: flex;
        align-items: center;
        color: white;
        margin-bottom: 0;
        font-family: 'Outfit', sans-serif;

        span {
            margin-right: .5rem;
            color: colors.$color-primary-a20;
        }
    }

    hr {
        border: none;
        border-top: solid 2px colors.$color-surface-a20;
    }
}

.spinner {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid rgba(255, 196, 0, 0.3);
    border-radius: 50%;
    border-top-color: colors.$color-primary-a20;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

button {
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
    transition: background-color .3s, color .3s;

    background-color: colors.$color-surface-a20;
    color: colors.$color-surface-a50;

    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);

    &:not(:disabled) {
        cursor: pointer;

        &:hover {
            background-color: colors.$color-surface-a30;
        }

        &.primary:hover {
            background-color: colors.$color-primary-a50;
        }
    }

    &:disabled {
        background-color: colors.$color-surface-a10;
        color: colors.$color-surface-a30;
    }

    &.primary {
        background-color: colors.$color-primary-a20;
        color: colors.$color-surface-a10;

        &:disabled {
            background-color: colors.$color-surface-mixed-a40;
        }
    }
}

.asterisk {
    font-size: .9rem;
    &::before {
        content: '*';
        color: colors.$color-primary-a50;
    }
}