@use 'colors';
@use 'card';
@use 'buttons';

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: colors.$color-surface-a0;
    color: #EEE;
}

input {
    font-family: 'Outfit', sans-serif;
    font-weight: lighter;
}

.emphasis {
    color: colors.$color-primary-a50;
}

.spinner {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid rgba(255, 196, 0, 0.3);
    border-radius: 50%;
    border-top-color: colors.$color-primary-a20;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.asterisk {
    font-size: .9rem;
    &::before {
        content: '*';
        color: colors.$color-primary-a50;
    }
}